<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665285507879-hbkq5esdrhnb1c63ohn6ffajm6kp6eak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665285507879-hbkq5esdrhnb1c63ohn6ffajm6kp6eak</string>
	<key>API_KEY</key>
	<string>AIzaSyAc60LsVHSYQFB4DzfR000Kbnj3mpk-e4w</string>
	<key>GCM_SENDER_ID</key>
	<string>665285507879</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.metasecret.vault</string>
	<key>PROJECT_ID</key>
	<string>metasecret-c7aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>metasecret-c7aa7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665285507879:ios:bba25799f2a75a361d0702</string>
</dict>
</plist>